<nav>
  <a href=".">
    <div class="login-left">
      <img src="assets/STEG.jpg">
    </div>
  </a>
  <ul>
    <li><a routerLink="/login-guichet">Login</a></li>
    <li class="nav-button-container"><button class="nav-button">Déconnexion</button></li>
  </ul>
</nav>
<div *ngFor="let DemandeDpte of demandes">
<h2>Détails de l'utilisateur</h2>
      <h4>Matricule Fiscale :</h4>{{ DemandeDpte.matriculfiscal }}
      <h4>Nom de l'entreprise :</h4>{{ DemandeDpte.nom }}
      <h4>Nom de gérant :</h4>{{ DemandeDpte.gerant }}
      <h4>CIN ou Passeport :</h4>{{ DemandeDpte.cin }}
      <h4>Adresse :</h4>{{ DemandeDpte.adresse }}
      <h4>Email :</h4>{{ DemandeDpte.email }}
      <h4>Adresse de projet :</h4>{{ DemandeDpte.adresseProjet }}
      <h4>Demande de raccordement :</h4>
      <embed *ngIf="DemandeDpte.onFileSelected1 != ''" [src]="getSafeUrl(DemandeDpte.onFileSelected1)" type="application/pdf" width="50%" height="300px" />

      <h4>CIN/passeport :</h4>
      <embed *ngIf="DemandeDpte.onFileSelected2 != ''" [src]="getSafeUrl(DemandeDpte.onFileSelected2)" type="application/pdf" width="50%" height="300px" />

      <h4>Registre de commerce/matricule fiscale :</h4>
      <embed *ngIf="DemandeDpte.onFileSelected3 != ''" [src]="getSafeUrl(DemandeDpte.onFileSelected3)" type="application/pdf" width="50%" height="300px" />

      <h4>Justificatif de paiement :</h4>            
      <embed *ngIf="DemandeDpte.onFileSelected4 != ''" [src]="getSafeUrl(DemandeDpte.onFileSelected4)" type="application/pdf" width="50%" height="300px" />

      <h4>Remarque :{{ DemandeDpte.remarque }}</h4>
<ul>



<div>
<button (click)="showSaveButton = true">Envoyer Rapport</button>

<div *ngIf="showSaveButton">
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 20px;
      }
      label {
          font-weight: bold;
      }
      input[type="text"],
      textarea {
          width: 100%;
          padding: 5px;
          margin-bottom: 10px;
          box-sizing: border-box;
      }
      input[type="submit"] {
          padding: 10px 20px;
          background-color: #4CAF50;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
      }
      input[type="submit"]:hover {
          background-color: #45a049;
      }
  </style>
  <label for="subject">Objet:</label><br>
  <input type="text" id="subject" name="subject"><br><br>

  <label for="acceptance">Rapport detaille :</label><br>
  <textarea id="acceptance" name="acceptance" rows="10"></textarea><br><br>

  
  <label for="pdf">PDF:</label><br>
  <input type="file" id="pdf" name="pdf"><br><br>
  <button (click)="save()">Envoyer</button>
</div>

<div *ngIf="showSendToSection">
<h2>Envoyer vers</h2>
<label><input type="radio" name="connectionType" value="Guichet unique">Guichet unique</label><br>
<label><input type="radio" name="connectionType" value="Demandeur">Demandeur</label>

<button (click)="validerOperation()">Envoyer</button>
</div>

